<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="{{ get_url(path="/main.css") }}" rel="stylesheet">
		<link href="https://indestructibletype.com/fonts/Jost.css" rel="stylesheet">

		<script src="{{ get_url(path="/nomini.js") }}" defer></script>

		{% set this = page | default(value = section) %}

		<title>
			{% if this.title %}
				{{ this.title }}
				–
				{{ config.title }}
			{% else %}
				{{ config.title }}
			{% endif %}
		</title>
	</head>

	<body nm-data>
		<header>
			<img class="logo" src="{{ get_url(path="/logo.svg") }}" alt="Nomini logo, the word nomini in dark blue and yellow with a curve going over the middle i">
			<nav>
				<a href="/">Home</a>
				|
				<a href="https://github.com/nonnorm/nomini" target="_blank">GitHub</a>
			</nav>
		</header>
		<audio nm-ref="jingle" src="{{ get_url(path="/jingle.m4a") }}"></audio>
		<button class="jingle" aria-hidden="true" nm-on="click: () => jingle.play()"></button>
		<main>
			{% if this.title %}
				<h1>
					{{ this.title }}
				</h1>
			{% endif %}

			{{ this.content | safe }}
		</main>
	</body>

</html>
